
a.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

a.nav-link{
    font-size: 16px;
}

.carousel-inner img {
    width: 100%;
    min-height: 100px;
    max-height: 660px;
}


.all-cafe {
    margin: 50px;
    text-align: center;
}

hr.line-cafe {
    border: 1.5px solid #000;
    width: 50px;
}

.all-cafe-image {
    margin: 10px;
}

.all-cafe-image img {
    margin-top: 15px;
}

.all-cafe-image:hover .image {
    opacity: 0.5;
}
.all-cafe-text {
    padding: 20px;
}

.aa {
    margin: 50px;
    text-align: center;
}

.aa img {
    margin-top: 20px;
    margin-bottom: 40px;
}

.aaa {
    margin: 50px;
}

.aaa-cafe {
    padding-top: 30px;
}
.aaa-title {
    text-align: center;
}
.aaa-text {
    text-indent: 25px;
}

.aaa-cafe-image {
    float: right;
    margin-top: 50px;

}

.bbb {
    margin: 50px;
}
.bbb-cafe {
    padding-top: 30px;
}
.bbb-title {
    text-align: center;
}
.bbb-text {
    text-indent: 25px;
}
.bbb-cafe-image {
    margin-top: 50px;
}

.footer {
    height: 60px;
    background-color: antiquewhite;
}

/* Animal Cafe*/
.animal-banner img{
    width: 100%;
    min-height: 100px;
    max-height: 400px;
 
}
.animal-header {
    margin: 120px;
    text-align: center;
}

.animal-header img {
    margin: 40px;
    width: 600px;
    height: 100%;
}

.animal-content {
    margin: 30px;
}

.animal-title {
    

}
.animal-text {
    margin-top: 20px;
    text-indent: 50px;
}

